.head {
  text-align: center;
  font: bold 25px arial;
  margin-bottom: 40px;
}

.choose {
  height: 70px;
  width: 400px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#start {
  margin-top: 20px;
  height: 100px;
  width: 400px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.goToMainMenu {
  font-size: 15px;
  height: 40px;
  width: 200px;
}
.goBack {
  width: 100px;
  font-size: 15px;
  margin-top: 10px;
}

textarea[name="question"] {
  font: 14px arial;
  text-align: left;
  border-width: 2pt;
  background: radial-gradient(#ffffff, #e0e0e0);
  display: block;
  margin: 0 auto 30px;
}

textarea[name="answer"] {
  font: 14px arial;
  text-align: left;
  border-width: 2pt;
  background: radial-gradient(#ffffff, #e0e0e0);
  display: block;
  margin: 10px auto 0;
}

.choose,
#start,
.goToMainMenu,
#listToday,
#addQue,
.goBack,
input[type="submit"],
input[type="reset"] {
  display: block;
  border-width: 3px;
  font-family: arial;
  font-style: italic;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #569cec;
  padding: 7px 20px;
  outline: none;
}

input[type="password"],
input[type="text"] {
  font: 14px arial;
  text-align: center;
  width: 200pt;
  height: 20pt;
  border-width: 2pt;
  background: radial-gradient(#ffffff, #e0e0e0);
  display: block;
  margin: 10px auto 0;
}

input[type="submit"],
input[type="reset"] {
  margin: 10px auto 0;
}

.goToMainMenu:hover,
.choose:hover,
input[type="submit"]:hover,
.answer:hover,
#finishTest:hover,
#listToday:hover,
#addQue:hover,
.changeQue:hover,
.deleteQue:hover,
#start:hover {
  background: #82b4ec;
} /* при наведении курсора мышки */

.goToMainMenu:active,
.pass input[type="submit"]:active,
.choose:active,
.answer:active,
#finishTest:active,
#listToday:active,
#addQue:active,
.changeQue:active,
.deleteQue:active,
#start:active {
  background: #046feb;
} /* при нажатии */

.comment {
  font: italic 12pt arial;
  text-align: center;
}

table {
  font: 14px arial;
  border-collapse: collapse;
}

#list {
  width: 600px;
  margin: 5px auto 20px;
}

#que {
  margin: 5px 5% 20px;
}

.changeQue,
.deleteQue {
  display: block;
  border-width: 3px;
  font-family: arial;
  font-style: italic;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #569cec;
  padding: 5px 10px 5px;
  outline: none;
}

th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}

td {
  color: #669;
  padding: 9px 8px;
  text-align: center;
}

tr:hover td {
  color: #6699ff;
}

td:first-child {
  text-align: left;
}

#todayDate {
  position: absolute;
  right: 20px;
  margin-left: 10%;
  font: 16px arial;
}

#listToday,
#addQue {
  font-size: 16px;
  height: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

.progress_line {
  background-color: #2fc54d;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
}

.progress_line_bg {
  background-color: #ccc;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.question {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  font: italic 18px arial;
  margin-left: 15%;
  margin-right: 10%;
  text-align: center;
  border: 3px solid gray;
  border-radius: 40px;
}

#questions div:nth-child(n + 2) {
  margin-top: 60px;
}

#questions {
  display: none;
  margin-bottom: 50px;
  margin-top: 80px;
}

.answer {
  display: block;
  min-width: 500px;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 5px;
  text-align: left;
}

#finishTest {
  display: none;
  margin-top: 30px;
  position: fixed;
  height: 60px;
  width: 120px;
  color: #fff;
  background: red;
}

.answer,
#finishTest {
  font: italic 15px arial;
  text-decoration: none;
  user-select: none;
  padding: 7px 10px;
  outline: none;
  border-width: 3px;
}

.wrapper2 {
  top: 0;
  left: 5ps;
  position: fixed;
}

#progressBar,
#hello,
#result {
  display: none;
}

#space {
  position: relative;
  display: none;
  width: 100%;
  height: 45px;
  background-color: white;
  position: fixed;
  top: 0;
}

#space p {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  text-align: center;
  font: 16pt Arial;
  color: red;
}

#res {
  color: red;
}
